{% extends 'generic/object.html' %}
{% load helpers %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="row mb-3">
    <!-- Basic Information -->
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">PDU Information</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Manufacturer</th>
                        <td>{{ object.manufacturer }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Model</th>
                        <td>{{ object.model }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Type</th>
                        <td>
                            {% badge object.get_pdu_type_display bg_color=object.get_pdu_type_color %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Serial Number</th>
                        <td>{{ object.serial_number|placeholder }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- Network Configuration -->
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Network Configuration</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">IP Address</th>
                        <td>
                            {% if object.ip_address %}
                                <a href="{{ object.ip_address.get_absolute_url }}">
                                    {{ object.ip_address }}
                                </a>
                            {% else %}
                                {{ ''|placeholder }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">API URL</th>
                        <td>
                            {% if object.api_url %}
                                <a href="{{ object.api_url }}" target="_blank">
                                    {{ object.api_url }}
                                </a>
                            {% else %}
                                {{ ''|placeholder }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">API Port</th>
                        <td>{{ object.api_port }}</td>
                    </tr>
                    <tr>
                        <th scope="row">API Version</th>
                        <td>{{ object.api_version|placeholder }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Firmware Version</th>
                        <td>{{ object.firmware_version|placeholder }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <!-- Physical Location -->
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Physical Location</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Site</th>
                        <td>
                            <a href="{{ object.site.get_absolute_url }}">
                                {{ object.site }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Rack</th>
                        <td>
                            {% if object.rack %}
                                <a href="{{ object.rack.get_absolute_url }}">
                                    {{ object.rack }}
                                </a>
                            {% else %}
                                {{ ''|placeholder }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Rack Position</th>
                        <td>{{ object.rack_position|placeholder }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- Power Specifications -->
    <div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">Power Specifications</h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Rated Voltage</th>
                        <td>{{ object.rated_voltage }} V</td>
                    </tr>
                    <tr>
                        <th scope="row">Rated Current</th>
                        <td>{{ object.rated_current }} A</td>
                    </tr>
                    <tr>
                        <th scope="row">Rated Power</th>
                        <td>{{ object.rated_power }} W</td>
                    </tr>
                    <tr>
                        <th scope="row">Outlet Count</th>
                        <td>{{ object.outlet_count }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Phase</th>
                        <td>{{ object.get_phase_count_display }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Outlet Statistics -->
<div class="row mb-3">
    <div class="col col-md-12">
        <div class="card">
            <h5 class="card-header">Outlet Statistics</h5>
            <div class="card-body">
                <div class="row text-center">
                    <div class="col">
                        <h3>{{ outlet_stats.total }}</h3>
                        <p class="text-muted">Total</p>
                    </div>
                    <div class="col">
                        <h3 class="text-success">{{ outlet_stats.on }}</h3>
                        <p class="text-muted">On</p>
                    </div>
                    <div class="col">
                        <h3 class="text-danger">{{ outlet_stats.off }}</h3>
                        <p class="text-muted">Off</p>
                    </div>
                    <div class="col">
                        <h3 class="text-secondary">{{ outlet_stats.unknown }}</h3>
                        <p class="text-muted">Unknown</p>
                    </div>
                    <div class="col">
                        <h3 class="text-info">{{ outlet_stats.connected }}</h3>
                        <p class="text-muted">Connected</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Outlets List -->
<div class="row mb-3">
    <div class="col col-md-12">
        <div class="card">
            <h5 class="card-header">Outlets</h5>
            <div class="card-body table-responsive">
                {% render_table outlets_table %}
            </div>
        </div>
    </div>
</div>

<!-- Built-in panels -->
{% include 'inc/panels/custom_fields.html' %}
{% include 'inc/panels/tags.html' %}
{% include 'inc/panels/comments.html' %}
{% endblock content %}
